####################################
# Terraform
####################################

.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
*.tfplan
crash.log

####################################
# IDE
####################################

.vscode/
.idea/

####################################
# OS
####################################

.DS_Store
Thumbs.db
